/* * LOOK AT GREEN COMMENT ERRORS */

.mask {
  width: 100%;
  height: 100vh;
}

.img-fluid {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.mask::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* * ERROR AROUND 1:00:00 --> THE NAVBAR COLOR IS GRAY + UNCLICKABLE & HAMBURGER DISAPPEARED*/
  background-color: #000; 
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.HomeBg {
  height: 100%;
  width: 100%;
}

.HomeBg .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.HomeBg .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.HomeBg .content p {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
}

.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .HomeBg .content h1 {
    font-size: 3rem;
  }
  .HomeBg .content p {
    font-size: 1.4rem;
  }
}