@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"); /* NOTE THIS IS FROM MOHIT COLORING BOOK 34:25 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}

h1,
h4,
p, 
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn { /* DIFFERENT FROM 33:02 */
  /* padding: 0.5rem 1rem; */ /* * THIS IS WHAT COPILOT RECOMMENDS*/
  padding: 12px 32px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-light { 
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
}

/* ? UNCOMMENT THIS TO HAVE DIFFERENT HOVER EFFECTS ON THE HOME BUTTONS
.btn:hover {
  background: transparent;
  color: #fff;
}
.btn-light:hover {
  background: #fff;
  color: #000;
} */
.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}